:root {
    --text-color: black;
    --background-color: white;
    --pastel-magenta: #eecbff;
    --pastel-green: #d4ffea;
    --pastel-purple: #dbdcff;
    --pastel-yellow: #fffedb;
    --dark-magenta: #8e4585;
    --dark-green: #228b22;
    --dark-purple: #4b0082;
    --dark-yellow: #b8860b;
    --border-width: 2px;
    --border-radius: 14px;
    --max-width: min(80%, 1000px);
    --max-width-large: min(90%, 1200px);
}

* {
    font-family: 'Lato', Helvetica, sans-serif;
    color: var(--text-color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.content {
    max-width: var(--max-width);
    margin: 4rem auto;
}

p {
    line-height: 130%;
}

a {
    text-decoration: none;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    width: 100%;
}
img, video {
    border: var(--border-width) solid var(--text-color);
    border-radius: var(--border-radius)
}


/* colors */
.magenta {
    background-color: var(--pastel-magenta);
}
.green {
    background-color: var(--pastel-green);
}
.purple {
    background-color: var(--pastel-purple);
}
.yellow {
    background-color: var(--pastel-yellow);
}

.magenta a {
    color: var(--dark-magenta);
}
.green a {
    color: var(--dark-green);
}
.purple a {
    color: var(--dark-purple);
}
.yellow a {
    color: var(--dark-yellow);
}

.highlight-section {
    border-top: var(--border-width) solid var(--text-color);
    border-bottom: var(--border-width) solid var(--text-color);
}

.highlight-box {
    border: var(--border-width) solid var(--text-color);
    border-radius: var(--border-radius);
    padding: 2rem;
}

/* link hover */
.page a {
    position: relative;
    text-wrap: nowrap;
}
.page a::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 100%;
    height: 1px;
    transition: all 0.3s cubic-bezier(1, 0.68, 0.16, 0.9);
}
.page a:hover::after {
    right: 0;
}
.magenta a:hover::after {
    background-color: var(--dark-magenta);
}
.green a:hover::after {
    background-color: var(--dark-green);
}
.purple a:hover::after {
    background-color: var(--dark-purple);
}
.yellow a:hover::after {
    background-color: var(--dark-yellow);
}


/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: var(--border-width) solid var(--text-color);
}

.header-text h1 {
    font-size: 1.8rem;
    padding-bottom: .6rem;
}

.header-text h4 {
    font-weight: 300;
    font-style: italic;
}

.navbar {
    display: flex;
    list-style: none;
}

.navbar * + * {
    margin-left: 1.2rem;
}

.nav-link {
    position: relative;
    font-size: 1.4rem;
    font-weight: 300;
    padding: .4rem .6rem;
}

.nav-link::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 100%;
    height: 110%;
    border-radius: 4px;
    transition: all 0.3s cubic-bezier(1, 0.68, 0.16, 0.9);
}
.nav-link:hover::after {
    right: 0;
    height: 100%;
}
.nav-link.games-link:hover::after {
    background-color: var(--pastel-purple);
}
.nav-link.about-link:hover::after {
    background-color: var(--pastel-green);
}
.nav-link.contact-link:hover::after {
    background-color: var(--pastel-magenta);
}


/* hero */
.hero-text {
    max-width: 50%;
    margin: 0 auto;
    font-weight: 300;
    text-align: center;
}


/* grid - GAMES */

.portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
}

.grid-item {
    border: var(--border-width) solid var(--text-color);
    border-radius: var(--border-radius);
    padding: 1rem;
}

.grid-title {
    padding: .8rem 0 .3rem;
}

.keyword + .keyword {
    margin-left: .6rem;
}

.keyword {
    display: inline-block;
    font-size: .8rem;
    text-transform: uppercase;
    text-wrap: nowrap;
    margin-top: 0.5rem;
    padding: .3rem .4rem;
    border-radius: 4px;
}


/* about */

#about .content {
    display: flex;
    column-gap: 4rem;
}

#about img {
    max-width: 30%;
    height: 100%;
    align-self: center;
}

.larger-text {
    font-size: 5rem;
    line-height: .8;
    margin-bottom: 1.6rem;
}

#about p + p {
    margin-top: .4rem;
}

#download-button {
    display: inline-block;
    margin-top: 1.8rem;
    padding: .8rem 1.4rem;
    border-radius: 10px;
    background-color: var(--text-color);
    color: var(--background-color);
    font-size: 0.9rem;
    font-weight: 700;
}

/* contact */

#contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.large-text {
    font-size: 3.5rem;
}

.contact-icon, .back-btn {
    width: auto;
    height: 3.5rem;
    padding: .2rem;
    border-radius: 50%;
}


/* footer */

footer {
    font-size: 0.7rem;
    font-weight: 300;
    text-align: center;
    border-top: var(--border-width) solid var(--text-color);
    padding-top: 4rem;
}


/* page */

.paragraph-with-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.paragraph-with-image img, video {
    max-width: 56%;
}

.page p + p, .page p + ul, .page ul + p, .page li + li {
    margin-top: 1rem;
}

.page h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 3rem;
}

.page h3 {
    font-weight: 300;
    margin-bottom: 1rem;
}

.game-description {
    font-weight: 300;
}

.page ul {
    list-style-position: inside;
}
.page li {
    list-style: none;
    position: relative;
    padding-left: 20px;
}
.page li::before {
    content: "";
    position: absolute;
    left: 2px;
    top: 8px;
    width: 6px;
    height: 6px;
    background-color: var(--pastel-magenta);
    border-radius: 50%;
}

.bottom-navbar {
    text-align: center;
}
