:root {
    --text-color: black;
    --background-color: white;
    --pastel-magenta: #eecbff;
    --pastel-green: #d4ffea;
    --pastel-purple: #dbdcff;
    --pastel-yellow: #feffa3;
    --accent-color: hotpink; /* da togliere*/
    --max-width: min(80%, 1000px);
    --max-width-large: min(90%, 1200px);
}

* {
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 400;
    color: var(--text-color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.content {
    max-width: var(--max-width);
    margin: 4rem auto;
}

a {
    text-decoration: none;
}

p {
    line-height: 130%;
}

img {
    user-select: none;
    width: 100%;
    border: 2px solid var(--text-color);
    border-radius: 20px;
}


/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--text-color);
}

.header-text h1 {
    font-size: 1.8rem;
}

.header-text h4 {
    font-weight: 300;
    font-style: italic;
    padding-top: .6rem;
}

.navbar {
    display: flex;
    list-style: none;
}

.navbar * + * {
    margin-left: 1.2rem;
}

.nav-link {
    position: relative;
    font-size: 1.4rem;
    font-weight: 300;
    padding: .4rem .6rem;
    transition: all 0.3s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.nav-link::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 100%;
    height: 110%;
    border-radius: 5px;
    transition: all 0.3s cubic-bezier(1, 0.68, 0.16, 0.9);
}
.nav-link:hover::after {
    right: 0;
    height: 100%;
}
.nav-link.games-link:hover::after {
    background-color: var(--pastel-purple);
}
.nav-link.about-link:hover::after {
    background-color: var(--pastel-green);
}
.nav-link.contact-link:hover::after {
    background-color: var(--pastel-magenta);
}


/* hero */
.hero-text {
    font-weight: 300;
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
}

/* grid - GAMES */

.portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
}

.grid-item {
    border: 2px solid var(--text-color);
    border-radius: 20px;
    padding: 1rem;
}

/* .grid-image:hover {
    filter: brightness(1.1);
} */

.grid-title {
    padding: .8rem 0;
}

.keyword + .keyword {
    margin-left: .6rem;
}

.keyword {
    font-size: .8rem;
    text-transform: uppercase;
    padding: .3rem .4rem;
    border-radius: 4px;
}
.keyword.one {
    background-color: var(--pastel-magenta);
}
.keyword.two {
    background-color: var(--pastel-green);
}
.keyword.three {
    background-color: var(--pastel-purple);
}
.keyword.four {
    background-color: var(--pastel-yellow);
}


/* about */

#about {
    background-color: var(--pastel-green);
    border-top: 2px solid var(--text-color);
    border-bottom: 2px solid var(--text-color);
}

#about .content {
    display: flex;
    column-gap: 6rem;
}

#about img {
    max-width: 30%;
}

.larger-text {
    font-size: 5rem;
    margin-bottom: 1.4rem;
}

.download-button {
    display: inline-block;
    padding: 1rem 2rem;
    margin-top: 2rem;
    border: 2px solid var(--text-color);
    border-radius: 20px;
}


/* contact */

#contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.large-text {
    font-size: 3.5rem;
}

.contact-icon {
    width: auto;
    height: 3.5rem;
    padding: .2rem;
    border-radius: 50%;
}
.contact-icon.mail {
    background-color: var(--pastel-magenta);
}
.contact-icon.github {
    background-color: var(--pastel-green);
}
.contact-icon.linkedin {
    background-color: var(--pastel-purple);
}
.contact-icon.discord {
    background-color: var(--pastel-yellow);
}


/* footer */

footer {
    font-size: 0.7rem;
    font-weight: 300;
    text-align: center;
    border-top: 2px solid var(--text-color);
    padding-top: 4rem;
}



/* page */

.page-content section {
    margin: 3rem 0;
}

.page-content .paragraph-with-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.paragraph-with-image img, .page-content video {
    max-width: 56%;
}

.highlight-box {
    padding: 1rem;
    border: 5px solid var(--accent-color);
    border-radius: 0.4rem;
}

.highlight-paragraph {
    padding-left: 1rem;
    border-left: 5px solid var(--accent-color);
    border-radius: 0.3rem;
}

.page-content h1 {
    font-size: 1.8rem;
    text-align: center;
}

.page-content h3 {
    font-weight: 300;
    margin-bottom: 1rem;
}


.page-content p + p, .page-content p + ul, .page-content ul + p, .page-content li + li, .page-content p + .highlight-box {
    margin-top: 1rem;
}

.page-content ul {
    list-style-position: inside;
}

.page-content li {
    list-style: none;
    position: relative;
    padding-left: 20px;
  }

.page-content li::before {
    content: "";
    position: absolute;
    left: 2px;
    top: 8px;
    width: 6px;
    height: 6px;
    background-color: var(--accent-color);
    border-radius: 50%;
  }

.game-description {
    font-weight: 300;
}

.page-content a {
    color: var(--accent-color);
}

.page-content a:hover {
    /* QUALCOSA */
    color: var(--accent-color);
}

.bottom-navbar {
    justify-content: center;
}

